@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

h1 {
  font-weight: 800;
}

h2, h3 {
  text-align: center;
}


.dark-button {
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  background-color: #519872;
  color: white;
  border: 1px solid green;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.outline-button {
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  border: 1px solid #1e1e1e;
  border-radius: 0.25rem;
  cursor: pointer;
}

.form-container {
  background-color: #fff;
  padding: 1.5rem 3rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#xmlFile {
  border: 1px dashed lightgrey;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: white;
}

#response {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  max-width: 600px;
}

table, td, th {
  border: 1px solid lightgrey;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.25rem;
}

th, td {
  padding: 0.5rem;
  text-align: left;
}

.subtext { 
  font-size: 0.75rem;
  line-height: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
